
body{
    margin: 0;
    padding: 0;
    background: url('img/bc.jpg');
    color: white;
    /* background-color: #a52a2a; */
    font-family: 'Lato', sans-serif;
}
.left{
    position: absolute;
    left: 34px;
    top: 20px;
    /* border: 2px solid rgb(126, 37, 214); */
    display: inline-block;
}
.middle{
    display: block;
    width: 36%;
    margin: 20px auto;
    /* border: 2px solid yellow; */
 
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    /* border: 2px solid green; */
    display: inline;
    font-family: 'Lato', sans-serif;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 30px 15px;
}
.navbar li a:hover,.navbar li a.active{
    text-decoration: underline;
    color: aqua;
}
.left img{
    width: 136px;
    /* filter: invert(); for making image reverse in color */
}
.left div{
    text-align: center;
}
.btn {
    margin: 0px 9px; 
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
}
.container {
    background-color: black;
    color: white;
    border: 2px solid white;
    margin: 179px 43px;
    padding: 64px 31px;
    width: 33%;
    border-radius: 10px;
}
.container h1{
    text-align: center;
}
.form-group input{
    display: block;
    text-align: center;
    width: 280px;
    padding: 6px;
    border: 2px solid black;
    margin: 4px auto;
    border-radius :14px;
} 
.container button{
    display: inline-block;
    width: 23%;
    margin: auto;
}